* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
footer{
    padding:1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(218,165,32);
    color: white;
    text-align: center;

}